@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container{
    overflow-y: scroll;
    height: calc(100vh - 75px);
}


.offer-info-text{
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.92);
    overflow: hidden;
    width: 100%;
    overflow-wrap: break-word;
    padding:0 12px 8px 12px;
    background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
    border-radius: 6px;
}

.resturant-name{
    margin: 0px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.45px;
    color: rgba(2, 6, 12, 0.92);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
}

.add-btn{
    position: relative;
    bottom: 14px;
    left: 44px;
    background: white;
    padding: 4px;
    width: 76px;
    border-radius: 6px;
    border: 0.5px solid lightgray;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.45px;
    color: rgb(27, 166, 114);
}

.line{
    border-bottom: .5px solid #d3d3d3;
    height: .5px;
    margin: 20px 0;
}

.resturantLayout{
    margin: 0 20%;
}

.resturantLayoutContainer{
    height: 655px;
    overflow-y: scroll;
}

.licenseCard{
    background-color: #f1f1f6;
    padding: 4px 20px;
}

.licenseContent{
    padding: 15px 0;
    margin-bottom: 4px;
    border-bottom: 1px solid gray
}